<br>
<div id="id-principal" class="container justify-center " style="width: 80%; height: 100%;">
    <h1>CONSULTAS -API</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listar pokemones</h5>
              <p class="card-text">Listar pokemones - API.</p>
              <a href="#" routerLink="/listar-pokemones" class="btn btn-primary">Vamos!</a>
            </div>
          </div>                  
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">                
                <h5 class="card-title">Listar especie de pokemones</h5>
                <p class="card-text">Listar nombre de espceies de pokemon - API.</p>
                <a href="#" routerLink="/listar-especie" class="btn btn-primary">Vamos!</a>
            </div>
          </div>          
        </div>       
        <br>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Listar habilhidades</h5>
              <p class="card-text">Listar las habilidades - API.</p>
              <a href="#" routerLink="/listar-habilidades" class="btn btn-primary">Vamos!</a>
            </div>
          </div>                  
        </div>
        <!-- <div class="col-sm-6">
          <div class="card">
            <div class="card-body">                
                <h5 class="card-title">Listar pokemones type 3</h5>
                <p class="card-text">Listar pokemon tipo 3 - API.</p>
                <a href="#" routerLink="/listar-type3" class="btn btn-primary">Vamos!</a>
            </div>
          </div>          
        </div> -->

    </div>
</div>
<br>

