#portada{
 background-image: url("../../../assets/img/img-inicio.jpg");
 height: 320PX; 
 background-repeat: no-repeat; 
 background-position: center center;
 background-size: cover;
 
}

#id-principal{
    background-color: rgb(255, 255, 0,  0.7); 
}

li{
    padding: 5px;
}

