<div id="id-principal" class="card text-center" style="font-family:cursive;">
    <div class="card-header">      
      <ul class="nav nav-pills card-header-pills">
        <li>
            <img src="../../../assets/img/logo.jpeg" href="../principal/principal.component.html" class="rounded-circle" style="width: 40px; height: 40px; " alt="logo">
        </li>        
        <li class="nav-item">          
          <button type="button" routerLink="/inicio" class="btn btn-primary btn-rounded">Inicio</button>
        </li>        
        <li class="nav-item">          
          <a href="https://www.instagram.com/gre_salgado/">
            <button type="button"  class="btn btn-primary btn-rounded">Contacto</button>
          </a>
        </li>             
      </ul>       
    </div>   
    <div id="portada" class="card-body" >      
    </div> 
  </div>
  
  
